body {
  background-color: #eceef1;
  padding: 0;
  margin: 0;
  font-family: AvenirNext, Avenir, Helvetica;
}

a {
  color: #0077c5;
  text-decoration: none;
  font-size: 12px;
}

a:hover {
  text-decoration: underline;
}

.b-sign-in{
  display: none
}

.b-header {
  text-align: center;
  padding: 20px 0;
}

.b-header__link {
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.2.9/images/ecosystem_logos_new.png);
  background-position: 0 0;
  display: block;
  height: 35px;
  width: 118px;
  margin: 0 auto;
}

.b-icons {
	display: flex;
	justify-content: center;
	padding: 0;
	margin-top: 0;
}

.b-icons__item{
	background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.2.9/images/ecosystem_logos_new.png);
	background-repeat: none;
	list-style: none;
	margin-right: 9px;
}

.b-icons__item:last-child{
	margin-right: 0;
}

.b-icons__item--mint{
	background-position:-254px -56px;
	width: 64px;
	height: 23px;
}

.b-icons__item--quickbooks{
	background-position: 447px -56px;
	width: 125px;
	height: 23px;
}

.b-icons__item--turbotax{
	background-position: 0 -56px;
	width: 101px;
	height: 23px;
}

.b-signup-container {
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #c7c7c7;
  background-color: #fff;
  width: 380px;
  box-sizing: border-box;
}

.b-signup-container__header-title {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 26.4px;
  text-align: center;
  display: block;
  color: #4c4c4c;
}

.b-signup-container__header-description {
  display: block;
  font-size: 14px;
  color: #4c4c4c;
  line-height: 16.8px;
  text-align: center;
  font-weight: 300;
}

.b-signup-container__header-more-link {
  display: block;
  font-size: 12px;
  line-height: 14.4px;
}




@media (min-width: 769px) {
  .b-sign-in {
    display: flex;
    padding: 10px 30px;
    justify-content: flex-end;
  }

  .b-sign-in__text{
    color: #505050;
    font-size: 12px;
    line-height: 18px;
  }

  .b-sign-in__forgot{
    display: block;
  }

  .b-sign-in__button{
    color: #fff;
    background-color: #0077c5;
    border: 1px solid #4c4c4c;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 20px;
    font-size: 13.5px;
    margin-left: 10px;
  }
  .b-sign-in__button-lock{
    background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.2.9/images/icon-whitelock@3x.png);
    margin: 2px 4px 0 0;
    width: 10.8px;
    height: 13.5px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
  }
}