body {
  background-color: #eceef1;
  padding: 0;
  margin: 0;
}

a {
  color: #0077c5;
  text-decoration: none;
}

.b-sign-in{
  display: none
}

.b-header {
  text-align: center;
  padding: 20px 0;
}

.b-header__link {
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.2.9/images/ecosystem_logos_new.png);
  background-position: 0 0;
  display: block;
  height: 35px;
  width: 118px;
  margin: 0 auto;
}

.b-icons {
	display: flex;
	justify-content: center;
	padding: 0;
	margin-top: 0;
}

.b-icons__item{
	background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.2.9/images/ecosystem_logos_new.png);
	background-repeat: none;
	list-style: none;
	margin-right: 9px;
}

.b-icons__item:last-child{
	margin-right: 0;
}

.b-icons__item--mint{
	background-position:-254px -56px;
	width: 64px;
	height: 23px;
}

.b-icons__item--quickbooks{
	background-position: 447px -56px;
	width: 125px;
	height: 23px;
}

.b-icons__item--turbotax{
	background-position: 0 -56px;
	width: 101px;
	height: 23px;
}


@media (min-width: 769px) {
  .b-sign-in {
    display: flex;
    padding: 10px 30px;
    justify-content: flex-end;
  }

  .b-sign-in__text{
    color: #505050;
    font-family: AvenirNext, Avenir, Helvetica;
    font-size: 12px;
    line-height: 18px;
  }

  .b-sign-in__forgot{
    display: block;
  }

  .b-sign-in__button{
    color: #fff;
    background-color: #0077c5;
    border: 1px solid #4c4c4c;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 20px;
    font-size: 13.5px;
    margin-left: 10px;
  }
  .b-sign-in__button-lock{
    background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.2.9/images/icon-whitelock@3x.png);
    margin: 2px 4px 0 0;
    width: 10.8px;
    height: 13.5px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
  }
}